.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.player-wrapper {
  position: relative;
  padding-bottom: 56.25%;
    /* Player ratio: 100 / (1280 / 720) */
  display: flex;
  justify-content: center;

}

.react-player {

  position:absolute;
  max-height: 540px;
  max-width: 960px;
}


.video-card:hover {
  background-color: red;
}


.responsive-text:hover {
  -webkit-transform: scale(1.2); 
}



